[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
build = "*"
almost-make = "*"
sphinx = "*"
pydocstyle = "*"
flake8 = "*"
toml = "*"
setuptools-git-versioning = "*"

[requires]
python_version = "3.10"
